*{
 box-sizing: border-box;
}

.small-box-without-border{
  width: 50px;
  margin: 10px;
}

.big-box-without-border{
  width: 50px;
  margin: 10px;
}

.small-box{
  margin: 10px;
  border: 20px solid black;
  width: 50px;
}

.big-box{
  margin: 20px;
  border: 20px solid black;
  width: calc(10% - 50px);
  height: 100px;
}

.float-right{
  float: left;
}

.float-left{
  float: right;
}

.container-center {
  margin: 0 auto;
  width: fit-content;
}

.center {
  overflow: hidden;
}

.big-box-n {
  margin-right: 10px;
  float: left;
  border: 20px solid black;
  width: 140px;
  height: 100px;
}

.container-for-small {
  float: right;
}

.container-new-line {
  float: left;
  width: 100%;
}